In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
url = 'https://resultados.as.com/resultados/futbol/primera/clasificacion/'

In [4]:
page = requests.get(url)

In [5]:
soup = BeautifulSoup(page.content, 'html.parser')

In [6]:
# Equipos

In [7]:
eq = soup.find_all('span', class_= 'nombre-equipo')

equipos = list()

count = 0
for i in eq:
    if count < 20:
        equipos.append(i.text)
    else:
        break
    count += 1
print(equipos)

['Barcelona', 'Real Madrid', 'Atlético', 'R. Sociedad', 'Betis', 'Villarreal', 'Athletic', 'Rayo', 'Osasuna', 'Celta', 'Girona', 'Mallorca', 'Sevilla', 'Getafe', 'Cádiz', 'Real Valladolid', 'Espanyol', 'Almería', 'Valencia', 'Elche']

In [8]:
# Puntuación

In [9]:
pt = soup.find_all('td', class_= 'destacado')

puntuacion = list()

count = 0
for i in pt:
    if count < 20:
        puntuacion.append(i.text)
    else:
        break
    count += 1
print(puntuacion)

['71', '59', '54', '48', '45', '44', '37', '36', '35', '35', '34', '33', '31', '30', '28', '28', '27', '27', '26', '13']

In [ ]:
# Construimos un Dataframe

In [17]:
df = pd.DataFrame({'Nombre': equipos, 'Puntos': puntuacion}, index = list(range(1,21)))

In [18]:
df

             Nombre Puntos
1         Barcelona     71
2       Real Madrid     59
3          Atlético     54
4       R. Sociedad     48
5             Betis     45
6        Villarreal     44
7          Athletic     37
8              Rayo     36
9           Osasuna     35
10            Celta     35
11           Girona     34
12         Mallorca     33
13          Sevilla     31
14           Getafe     30
15            Cádiz     28
16  Real Valladolid     28
17         Espanyol     27
18          Almería     27
19         Valencia     26
20            Elche     13